# production instance of reverse_proxy
# this caddy works in docker network with production
# database and backend instances.

# Email for Let's Encrypt expiration notices
{
	email {$CADDY_LETSENCRYPT_EMAIL}
}

{$CADDY_DOMAIN_NAME} {
	# HTTPS options:
	header Strict-Transport-Security max-age=31536000;

	# Removing some headers for improved security:
	header -Server

    # Proxy api requests to backend
    handle /api/* {
          reverse_proxy app:8080
    }

    # View containers logs
    handle /dozzle/* {
           reverse_proxy dozzle:8080
    }

    # S3 storage
    handle /uploads/* {
           reverse_proxy minio:9000
    }

    # Serve Frontend static files
    handle {
          root * /var/www/frontend
          file_server
          try_files {path} {path}/ /index.html
    }

    # Grafana на подпути /grafana
    handle_path /grafana/* {
        reverse_proxy grafana:3000 {
            # Важно: пробрасываем оригинальный Host и URI
            header_up Host {host}
            header_up X-Forwarded-Prefix "/grafana"
        }
    }
    
    # Метрики (если нужно)
    handle_path /metrics {
        reverse_proxy app:9090
    }

    # Dynamically compress response with gzip when it makes sense.
	# This setting is ignored for precompressed files.
	encode gzip

	# Logs:
	log {
		output stdout
		format console
	}
}
