telegram_bot_token: "8235557247:AAH5zec-qWGqWepdssMDx8ErV26zgZgJSsY"  # будет переопределено BOT_TOKEN
telegram_bot_api_url: "https://api.telegram.org"
postgres_url: "postgres://user:pass@localhost:5432/bot_db"
port: 8080
environment: "dev"
prometheus_port: 9090
log_level: "info"
host_name: "host"